[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true


[packages]
django = "*"  # https://github.com/django/django


[dev-packages]
# Django (for testing)
# ------------------------------------------------------------------------------
django-environ = "*"  # https://github.com/joke2k/django-environ
django-debug-toolbar = "*"  # https://github.com/jazzband/django-debug-toolbar

# Code quality
# ------------------------------------------------------------------------------
coverage = "*"  # https://github.com/nedbat/coveragepy
pylint = "*"  # https://github.com/PyCQA/pylint/
pylint-django = "*"  # https://github.com/PyCQA/pylint-django
restructuredtext-lint = "*"  # https://github.com/twolfson/restructuredtext-lint

# Testing
# ------------------------------------------------------------------------------
factory_boy = "*"  # https://github.com/FactoryBoy/factory_boy
pytest = "*"  # https://github.com/pytest-dev/pytest
pytest-cov = "*"  # https://github.com/pytest-dev/pytest-cov
pytest-django = "*"  # https://pytest-django.readthedocs.io/en/latest/
tox = "==3.12.1"  # https://github.com/tox-dev/tox/
tox-pipenv = "*"  # https://github.com/tox-dev/tox-pipenv
tox-travis = "*"  # https://github.com/tox-dev/tox-travis

# Package Documentation
# ------------------------------------------------------------------------------
sphinx = "*"  # https://github.com/sphinx-doc/sphinx
sphinx_rtd_theme = "*"  # https://github.com/rtfd/sphinx_rtd_theme

# Package Distribution
# ------------------------------------------------------------------------------
setuptools = "*"  # https://pypi.org/project/setuptools/#description
wheel = "*"  # https://pypi.org/project/wheel/
twine = "*"  # https://github.com/pypa/twine
