{% extends template_extends %}

{% load i18n %}

{% block content %}
  <h1>Remove Subscription Plan From Plan List</h1>

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <p>
    <strong>Are you sure you want to remove this plan from the plan list?</strong>

    <ul>
      <li><strong>Plan List:</strong> {{ plan_list_detail }}</li>
    </ul>
  </p>

  <form method="POST">
    {% csrf_token %}
    <input type="submit" value="Delete">
  </form>

  <div>
    <a href="{% url 'dfs_plan_list_list' %}">Cancel</a>
  </div>
{% endblock %}
