{% load i18n %}

<h1>Subscription Plan Update</h1>

<form method="post">{% csrf_token %}
  <ul>
    {{ form.non_field_errors }}
    {{ form.errors }}
    {{ form.as_ul }}
  </ul>
  <fieldset>
    <legend>Plan cost</legend>
    {{ cost_forms.management_form }}
    {{ cost_forms.non_form_errors }}
    {% for cost_form in cost_forms %}
      <ul>
        {{ cost_form.non_field_errors }}
        {{ cost_form.errors }}
        {{ cost_form.as_ul }}
      </ul>
    {% endfor %}
  </fieldset>
  <input type="submit" value="Save">
</form>

<div>
  <a href="{% url 'subscriptions_plan_list' %}">Cancel</a>
</div>
