{% extends template_extends %}

{% load i18n %}

{% block content %}
  <h1>Subscription Plan Creation</h1>

  <form method="post">{% csrf_token %}
    <ul>
      {{ form.as_ul }}
    </ul>
    <fieldset>
      <legend>Plan cost</legend>
      {{ cost_forms.management_form }}
      {{ cost_forms.non_form_errors }}
      {% for cost_form in cost_forms %}
        <ul>
          {{ cost_form.as_ul }}
        </ul>
      {% endfor %}
    </fieldset>
    <input type="submit" value="Save">
  </form>

  <div>
    <a href="{% url 'dfs_plan_list' %}">Cancel</a>
  </div>
{% endblock %}
