{% extends 'subscriptions/base_developer.html' %}

{% load i18n %}

{% block title %}DFS Dashboard | Create User Subscription{% endblock %}

{% block main %}
  <div class="breadcrumb">
    <a href="{% url 'dfs_dashboard' %}">Developer Dashboard</a>
    > <a href="{% url 'dfs_subscription_list' %}">User Subscriptions</a>
    > Create User Subscription
  </div>

  <h2>Create User Subscription</h2>

  {% include 'subscriptions/snippets/messages.html' %}

  <form method="post">
    {% csrf_token %}

    {% include 'subscriptions/snippets/form_table.html' with form=form %}

    <input type="submit" class="button-positive" value="Save">
  </form>

  <a class="button-negative" href="{% url 'dfs_subscription_list' %}">Cancel</a>
{% endblock %}
