{% extends 'subscriptions/base_developer.html' %}

{% load i18n %}

{% block title %}DFS Dashboard | Delete Tag{% endblock %}

{% block main %}
  <div class="breadcrumb">
    <a href="{% url 'dfs_dashboard' %}">Developer Dashboard</a>
    > <a href="{% url 'dfs_tag_list' %}">Tags</a>
    > Delete Tag
  </div>

  <h1>Delete Tag</h1>

  <div>Are you sure you want to delete this tag?</div>

  <blockquote>
    <strong>Tag:</strong> {{ token.tag }}
  </blockquote>

  <form method="POST">
    {% csrf_token %}
    <input type="submit" value="Delete">
  </form>

  <form method="POST">
    {% csrf_token %}
    <input class="button-negative" type="submit" value="Delete">
  </form>

  <a class="button-positive" href="{% url 'dfs_tag_list' %}">Cancel</a>
{% endblock %}
