{% load i18n %}

<!DOCTYPE html>

<html>
  <head>
    <title>Django Flexible Subscriptions Sandbox Site</title>
  </head>
  <body>
    <h1>Django Flexible Subscriptions Sandbox Site</h1>

    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>
            {{ message }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <ul>
      {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
      {% endif %}
      <li>
        <a href="{% url 'dfs_dashboard' %}">
          Django Flexible Subscriptions Developer Dashboard
        </a>
      </li>
      <li>
          <a href="{% url 'dfs_subscribe_list' %}">
            Django Flexible Subscriptions Subscribe Page
          </a>
        </li>
    </ul>

  </body>
</html>
