html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#dfs-container {
  color: rgb(25, 25, 25);
  font-family: 'Telex', sans-serif;
  font-size: 1.5rem;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 300px;
  width: 100%;
}

#dfs-container .grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10rem 14.4rem auto;
  grid-template-areas:
    "header"
    "nav"
    "main";
  min-height: 100%;
}

#dfs-container header {
  background-color: rgb(0, 40, 40);
  color: rgb(250, 250, 250);
  grid-area: header;
}

#dfs-container h1 {
  font-size: 2.25rem;
  margin: 0;
  padding: 0.5rem;
}

#dfs-container .subtitle {
  display: block;
  margin: 0;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}

#dfs-container nav {
  background-color: rgb(10, 90, 100);
  color: rgb(195, 220, 225);
  grid-area: nav;
  margin: 0;
  padding: 0;
}

  #dfs-container nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #dfs-container nav li {
    margin: 0;
    padding: 0;
  }

  #dfs-container nav a {
    border-bottom: 1px solid rgb(195, 220, 225);
    color: inherit;
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 0.25rem;
    padding: 0.5rem;
    text-decoration: none;
  }

    #dfs-container nav a:hover {
      color: rgb(250, 250, 250);
    }

  #dfs-container main {
    margin: 0;
    padding: 0.5rem;
    grid-area: main;
  }

  #dfs-container h2 {
    margin: 0;
    padding: 1rem 0;
  }

  #dfs-container input {
    box-sizing: border-box;
    font-size: 1.5rem;
    padding: 0.25rem 0.5rem;
    width: 100%;
  }

  #dfs-container select {
    font-size: 1.5rem;
  }

  #dfs-container main a {
    color: rgb(10, 90, 100);
    font-weight: 700;
    text-decoration: none;
  }

    #dfs-container main a:hover {
      color: rgb(195, 220, 225);
    }

  #dfs-container .breadcrumb {
    font-size: 1rem;
  }

  #dfs-container input[type="submit"] {
    background-color: transparent;
    cursor: pointer;
    font-weight: 500;
    width: auto;
  }

  #dfs-container .button-positive {
    border: 2px solid rgb(10, 90, 100);
    box-sizing: border-box;
    border-radius: 5px;
    color: rgb(10, 90, 100);
    display: inline-block;
    margin: 0.25rem 0;
    min-width: 120px;
    padding: 0.5rem;
    text-align: center;
  }

    #dfs-container .button-positive:hover {
      border-color: rgb(0, 40, 40);
      color: rgb(0, 40, 40);
    }

  #dfs-container .button-negative {
    border: 2px solid rgb(150, 10, 10);
    box-sizing: border-box;
    border-radius: 5px;
    color: rgb(150, 10, 10);
    display: inline-block;
    margin: 0.25rem 0;
    min-width: 120px;
    padding: 0.5rem;
    text-align: center;
  }

    #dfs-container .button-negative:hover {
      border-color: rgb(80, 10, 10);
      color: rgb(80, 10, 10);
    }

  #dfs-container .table-header {
    display: none;
    font-weight: 700;
  }

  #dfs-container .table-body {
    padding: 0.5rem;
  }

    #dfs-container .table-body:nth-child(even) {
      background-color: rgb(225, 240, 245);
    }

    #dfs-container .table-body > div {
      margin: 1rem 0;
    }

  #dfs-container .table-title {
    display: block;
    font-size: 1rem;
    margin: 0.25rem 0;
  }

  #dfs-container .form-field {
    margin: 0.5rem 0;
    max-width: 600px;
  }

    #dfs-container .form-field-label {
      display: block;
      font-weight: 700;
      padding: 0.25rem 0;
    }

    #dfs-container .form-field-help-text {
      display: block;
      font-size: 1rem;
      font-style: italic;
      padding: 0.5rem 0;
    }

@media screen and (min-width: 48em) {
  #dfs-container .grid-container {
    display: grid;
    grid-template-columns: 12em auto;
    grid-template-rows: 8rem auto;
    grid-template-areas:
      "header header"
      "nav main";
    width: 100%;
  }

  #dfs-container .table-title {
    display: none;
  }
}
